<form class="form-horizontal" id="news_details">
  <legend>{{title}}</legend>
  <div class="span6 left">
    <label>URL</label>
    <input class="span5" type="text" id="input-origin-url" value="{{news.attributes.originUrl}}" placeholder="http://www.chugulu.com/">
    <br />
    <br />

    <label>Cat&eacute;gorie</label>
    <table id="categories">
      <tr>
        <td id="cat-easy"><input type="radio" name="input-section" value="69fkFA9T81"> Easy</td>
        <td id="cat-hardcore"><input type="radio" name="input-section" value="BSSfGbPRdw"> Hardcore</td>
      </tr>
      <tr>
        <td colspan="2" id="cat-coups-de-coeur"><input type="radio" name="input-section" value="Zytx8X61em"> Coups de coeur</td>
      </tr>
      <tr>
        <td id="cat-business"><input type="radio" name="input-section" value="NOWlctwsj1"> Business</td>
        <td id="cat-price-drops"><input type="radio" name="input-section" value="KNGwNIrRLL"> Price Drops</td>
      </tr>
      <tr>
        <td id="cat-top-topics"><input type="radio" name="input-section" value="xavnc4kcxl"> Top &amp; Topics</td>
        <td id="cat-best-ever"><input type="radio" name="input-section" value="5RrmrJOtYY"> Best Ever</td>
      </tr>
    </table>

    <br />
    <br />
    <div class="row">
      <div class="span7">
        <label>Date de publication</label>
        <input type="text" id="input-published-at" />
      </div>
    </div>
    <br>
    <div class="row" id="droplists">
    	<div class="span2">
    		<select class="span2" id="input-category">
          {{#each categories.items}}
            {{#isSelectedCategory this}}
              <option value="{{value}}" selected>{{name}}</option>
            {{else}}
              <option value="{{value}}">{{name}}</option>
            {{/isSelectedCategory}}
          {{/each}}
    		</select>
    	</div>
    	<div class="span2">
    		<select class="span2" id="input-priority">
          {{#each priorities.items}}
            {{#isSelectedPriority this}}
              <option value="{{value}}" selected>{{name}}</option>
            {{else}}
              <option value="{{value}}">{{name}}</option>
            {{/isSelectedPriority}}
          {{/each}}
    		</select>
    	</div>
    	<div class="span2">
    		<select class="span2" id="input-lang">
          {{#each languages.items}}
            {{#isSelectedLanguage this}}
              <option value="{{value}}" selected>{{name}}</option>
            {{else}}
              <option value="{{value}}">{{name}}</option>
            {{/isSelectedLanguage}}
          {{/each}}
    		</select>
    	</div>
    	<div class="span2">
    		<select class="span2" id="input-source">
          <option value="">Source</option>
    			{{#each sources}}
            {{#isSelectedSource this}}
              <option value="{{id}}" selected>{{attributes.name}}</option>
            {{else}}
              <option value="{{id}}">{{attributes.name}}</option>
            {{/isSelectedSource}}
    			{{/each}}
    		</select>
    	</div>
    </div>
    <br />
    <div class="row">
      {{!-- <div class="span5"> --}}
        <label>Image de la news</label>
        <input type="file" id="input-news-image"><br />
        <img id="input-news-image-preview" src="{{news.attributes.image._url}}" alt="News image preview" />
      {{!-- </div> --}}
    </div>
    <br>
    <div class="row">
    	<div class="span4">
    		<label>Nom de l'application</label>
  		  <input class="span6" type="text" id="input-application-name" value="{{news.attributes.applicationName}}" placeholder="Rolling Jump">
    	</div>
    	<div class="span2">
  	 		<label>App Store Id</label>
  	  	<input type="text" id="input-application-appstore-id" class="span2" id="input-application-appstore-id" value="{{news.attributes.applicationAppStoreId}}" placeholder="447042108">
    	</div>
    </div>
    <br />
    <div class="row">
      {{!-- <div class="span4"> --}}
        <label>Icon</label>
        <input type="file" id="input-application-icon"><br />
        <img id="input-application-icon-preview" src="{{news.attributes.applicationIcon.url}}" alt="Application's icon preview" />
      {{!-- </div> --}}
    </div>
    <br>
    <br>
    <label>Tags</label>
    <input class="span5" type="text" id="input-tags" value="{{news.attributes.tags}}" placeholder="tag1, tag2, tag3">
  </div>
  <div class="span6 left">
    <div class="row">
      {{!-- <div class="span7"> --}}
        <label>Titre</label>
        <input class="span6" type="text" id="input-title" value="{{news.attributes.title}}" placeholder="Rolling Jump explose les records">
      {{!-- </div> --}}
    </div>
    <br>
    <div class="row">
      <div class="span7">
        <label>Description</label>
        <textarea id="inputDescription" rows="30" cols="80">{{news.attributes.description}}</textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span7">
        <label>Preview <i>(only visible for medium priority news)</i></label>
        <textarea class="span7" id="input-preview" rows="3" cols="200">{{news.attributes.preview}}</textarea>
      </div>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <div class="row">
  	<div class="span12">
      {{#if news.id}}
        <button type="button" class="btn btn-large btn-block btn-primary" id="submit-button">Edit News!</button>
      {{else}}
        <button type="button" class="btn btn-large btn-block btn-primary" id="submit-button">Create News!</button>
      {{/if}}
  	</div>
  </div>
</form>